header{
    margin-left: 15%;
    font-size: 28px;
    padding: 25px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.topofpage{
    background-image: url("../images/test2.jpg");

}
body{    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.main{
    width:100%;
    height:880px;
    background-image: url("../images/Waves.jpg");
    background-size: cover;
    border-top: 3px solid #ccc;
    
}
/* #main::before{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.3);
} */
.links{
    margin-right:18%;
}
#about{
    margin-left: 0;
    margin-top: 2px;
    padding-top: 30px;
    color: lightseagreen;
}
.name{
    float:left;
    background: lightseagreen;
    color: white;

}
ul{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    
}
li a{
    display: inline-block;
    color: rgb(238, 235, 235);
    text-align: center;
    padding: 29px 7px 29px 0;
    text-decoration: none;
}
li a:hover{
    color: #666666;
    /* background: rgb(185, 231, 229); */
}
li {
    float:right;
    position: relative;
    left: -55px;
    margin-right: 0;
    /* border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ccc; */
}
#self{
    position: absolute;
    margin: 20px 25% 0 25%;
    width: 700px;
    height: 650px;
    background: rgba(255,255,255,.8);
    border: solid 1px #ccc;
    box-shadow: 10px 10px 5px #707070;
}
#selfmain{
    position: absolute;
    margin: 20px 15% 0 15%;
    width: 960px;
    height: 650px;
    background: rgba(255,255,255,.8);
    border: solid 1px #ccc;
    box-shadow: 10px 10px 5px #707070;
}
#selfport{
    position: absolute;
    margin: 20px 25% 0 25%;
    width: 700px;
    height: 780px;
    background: rgba(255,255,255,.8);
    border: solid 1px #ccc;
    box-shadow: 10px 10px 5px #707070;
}
#descrip{
    position: relative;
    border-top: 3px solid #ccc;
    width: 95%;
    height: 95%;
    margin-left: 2.5%;
}
#mypic{
    float:left;
    margin: 20px 40px 0 0;
}
p{
   margin: 10px 0 0 0;
   line-height: 40px;
}
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 10px;
    color: #ccc;
    padding-top: 25px;
    padding-bottom: 10px;
    border-top: 6px solid lightseagreen;
    width: 100%;
    background: #777;
}
form {
    border-top: 3px solid #ccc;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    line-height: 35px;
    
}
input {
    width: 99%;
}
#message{
    height:250px;
    width: 98.8%;
}
#submit{
    width: 10%;
    background: lightseagreen;
    color: white;
    padding: 7px;
    border: none;
}
#submit:hover{
    background:teal;
}
#top{
    border-top: 3px solid #ccc;
    margin: 0 4% 0 4%;
    height:760px;
    overflow: hidden;
}
.portpics {
    float:left;
    margin-right: 20px;
    margin-top: 20px;
}
#midleft, #botleft{
    clear:both;    
}
#midleft, #midright {
    position: relative;
    top: -150px;
}
.portbuttons{
    text-align: center;
    padding: 10px 30px 10px 30px;
    background: rgba(32, 178, 170, .8);
    color: white;
    font-size: 16px;
    position: relative;
    width: 140px;
}
#hangman, #trivia, #rps{
    clear: both;
}
#hangman{
    position: relative;
    top:-80px;
}
#rpg{
    position: relative;
    left: 220px;
    top:-150px;
}
#trivia{
    position: relative;
    top: -230px;
}
#widget{
    position: relative;
    left: 220px;
    top: -300px;
}
#botleft{
    position: relative;
    top: -300px;
}
#rps{
    position: relative;
    top: -380px;
}
#topleft, #topright, #midleft, #midright, #botleft {
    width:200px;
    height:200px;
}